body {
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    /* background-image: url("/bg1.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white; */
}

h1, h2, h3 {
font-family: 'Major Mono Display', monospace;
}

.site-headline {
    position: fixed;
    top: 0;
    left: 0;
    text-orientation: upright;
    writing-mode: vertical-lr;
}

.component-headline {
    text-orientation: upright;
    writing-mode: vertical-lr;
}

.component-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* border: 1px solid rgb(255, 0, 0); */
}

.profile-image-corner {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid black;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}

.uploadForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: auto;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 0.25rem;
    background-color: ghostwhite;
}

.error {
    color: rgb(185, 0, 0);
}

.big {
    font-size: 1.2rem;
}

.component {
    display: flex;
    flex-direction: row;
}

.registration {
    width: 500px;
    /* border: 1px solid rgb(42, 0, 158); */
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}